language: java

addons:
  sonarcloud:
    organization: "sapientpants-github"

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.m2

before_install:
  - export GRADLE_VERSION=5.5.1
  - wget https://services.gradle.org/distributions/gradle-${GRADLE_VERSION}-all.zip
  - unzip -q gradle-${GRADLE_VERSION}-all.zip
  - export PATH="$(pwd)/gradle-${GRADLE_VERSION}/bin:$PATH"

script:
  - gradle build
  - sonar-scanner